upload_threshold = 100
upload_process_batch_size = 1000
flush_eagerness_factor = 0.01

[server]
host = "127.0.0.1"
port= 8443
mode = "http"   # Options: "http" or "https"

[thread_pool]
pool_size = 64

[hnsw]
default_neighbors_count = 32
default_level_0_neighbors_count = 64
default_ef_construction = 128
default_ef_search = 256
default_num_layer = 5
default_max_cache_size = 1000

[server.ssl]
cert_file = "/etc/ssl/certs/cosdata-ssl.crt"
key_file = "/etc/ssl/private/cosdata-ssl.key"

[search]
shortlist_size = 10

[indexing]
threshold = 100
clamp_margin_percent = 1.0 # 1%
mode = "sequential"   # Options: "sequential" or "batch"
# batch_size = 32  # only required with "batch" indexing mode
