upload_threshold = 100
upload_process_batch_size = 1000
num_regions_to_load_on_restart = 10000
inverted_index_data_file_parts = 8
sparse_raw_values_reranking_factor = 5
rerank_sparse_with_raw_values = false
tree_map_serialized_parts = 8
index_file_min_size = 1_000_000 # in bytes

[server]
host = "127.0.0.1"
port = 8443
mode = "http"   # Options: "http" or "https"

[thread_pool]
pool_size = 64

[hnsw]
default_neighbors_count = 32
default_level_0_neighbors_count = 64
default_ef_construction = 128
default_ef_search = 256
default_num_layer = 9
default_max_cache_size = 1000

[server.ssl]
cert_file = "/etc/ssl/certs/cosdata-ssl.crt"
key_file = "/etc/ssl/private/cosdata-ssl.key"

[search]
shortlist_size = 64
early_terminate_threshold = 0.0

[indexing]
clamp_margin_percent = 1.0 # 1%
mode = "batch"   # Options: "sequential" or "batch"
batch_size = 8  # only required with "batch" indexing mode

[grpc]
host = "127.0.0.1" # Optional - if not specified uses default loopback address
port = 50051       # Optional - if not specified will use default 50051
